body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons {
  margin: 5rem 0;
}

.buttons button {
  display: inline-block;
  padding: 0.4rem 2rem;
  font-size: 1.2rem;
  margin: 0 1rem;
  outline: none;
  border: none;
  background: rgb(20, 94, 155);
  color: white;
  cursor: pointer;
}
